In [6]:
import pandas as pd

In [ ]:
market1customers = pd.read_json(r"Market 1 Customers.json")
market1deliveries = pd.read_csv(r"Market 1 Deliveries.csv")
market1orders = pd.read_csv(r"Market 1 Orders.csv")
market2customers = pd.read_json(r"Market 2 Customers.json")
market2deliveries = pd.read_csv(r"Market 2 Deliveries.csv")
market2orders = pd.read_csv(r"Market 2 Orders.csv")

C:\Users\eyram\AppData\Local\Temp\ipykernel_15352\2197757364.py:2: DtypeWarning: Columns (12,14,16,19,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  market1deliveries = pd.read_csv(r"Market 1 Deliveries.csv")

In [180]:
mergedcustomers = pd.merge(market1customers,market2customers,on='Customer ID',how='outer')
mergedorders = pd.merge(market1orders,market2orders,on='Order ID',how='outer')
mergeddeliveries = pd.merge(market1deliveries,market2deliveries,on='Task_ID',how='outer')

In [183]:
df = mergedorders
df.to_csv("df.csv",index=False)

In [139]:
mergedcustomers.to_csv("mergedcustomers.csv",index=False)
mergedorders.to_csv("mergedorders.csv",index=False)
mergeddeliveries.to_csv("mergeddeliveries.csv",index=False)

In [21]:
mergedcustomers = pd.read_csv(r"mergedcustomers.csv")
mergedorders = pd.read_csv(r"mergedorders.csv")
mergeddeliveries = pd.read_csv(r"mergeddeliveries.csv")

C:\Users\eyram\AppData\Local\Temp\ipykernel_2692\1095928922.py:2: DtypeWarning: Columns (33,45,46,47,57,58,59,60,62,63,64,66,73,74,75,82,83,86,87) have mixed types. Specify dtype option on import or set low_memory=False.
  mergedorders = pd.read_csv(r"mergedorders.csv")
C:\Users\eyram\AppData\Local\Temp\ipykernel_2692\1095928922.py:3: DtypeWarning: Columns (1,3,4,5,6,7,8,9,10,11,12,13,14,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37,38,39,40,41,43,47,48,49,50,51,52,53,54,55,56,57,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  mergeddeliveries = pd.read_csv(r"mergeddeliveries.csv")

In [23]:
mergedcustomers

,Customer ID,Last Used Platform_x,Is Blocked_x,Created At_x,Language_x,Outstanding Amount_x,Loyalty Points_x,Number of employees,Last Used Platform_y,Is Blocked_y,Created At_y,Language_y,Outstanding Amount_y,Loyalty Points_y,Number of Employees
0,3144837,WEB,0.0,2021-03-15T17:13:19.000Z,en,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3174590,WEB,0.0,2021-03-20T14:15:11.000Z,en,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3181998,WEB,0.0,2021-03-21T15:36:51.000Z,en,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3191244,WEB,0.0,2021-03-23T08:54:00.000Z,en,0.0,367.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3274222,WEB,0.0,2021-04-06T13:52:39.000Z,en,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5267,5161258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WEB,0.0,2022-02-11T07:11:38.000Z,en,0.0,0.0,4.0
5268,5166213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WEB,0.0,2022-02-12T08:45:47.000Z,en,0.0,0.0,5.0
5269,5176040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WEB,0.0,2022-02-14T11:23:01.000Z,en,0.0,42.0,2.0
5270,5184379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WEB,0.0,2022-02-16T09:59:58.000Z,en,0.0,0.0,2.0
5271,5186649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WEB,0.0,2022-02-16T21:37:04.000Z,en,0.0,0.0,3.0

In [24]:
cleancustomers = mergedcustomers.dropna()

In [25]:
print(cleancustomers)

Empty DataFrame
Columns: [Customer ID, Last Used Platform_x, Is Blocked_x, Created At_x, Language_x, Outstanding Amount_x, Loyalty Points_x, Number of employees, Last Used Platform_y, Is Blocked_y, Created At_y, Language_y, Outstanding Amount_y, Loyalty Points_y, Number of Employees]
Index: []

# Merging

# Transform

In [37]:
market1customers.to_csv("market1customers.csv",index=False)
market2customers.to_csv("market2customers.csv",index=False)

In [52]:
market1customersnew = pd.read_csv(r"Market1Customers.csv")
market2customersnew = pd.read_csv(r"Market2Customers.csv")
marketcustomersnew

,Customer ID,Last Used Platform,Is Blocked,Created At,Language,Outstanding Amount,Loyalty Points,Number of Employees
0,3922702,WEB,0,2021-07-12T08:06:47.000Z,en,0,0,NaN
1,4058001,WEB,0,2021-08-05T08:22:35.000Z,en,0,0,NaN
2,4058334,WEB,0,2021-08-05T09:38:09.000Z,en,0,0,NaN
3,4058414,WEB,0,2021-08-05T09:56:57.000Z,en,0,0,NaN
4,4058431,WEB,0,2021-08-05T09:59:51.000Z,en,0,0,NaN
...,...,...,...,...,...,...,...,...
1090,5161258,WEB,0,2022-02-11T07:11:38.000Z,en,0,0,4.0
1091,5166213,WEB,0,2022-02-12T08:45:47.000Z,en,0,0,5.0
1092,5176040,WEB,0,2022-02-14T11:23:01.000Z,en,0,42,2.0
1093,5184379,WEB,0,2022-02-16T09:59:58.000Z,en,0,0,2.0
1094,5186649,WEB,0,2022-02-16T21:37:04.000Z,en,0,0,3.0

In [50]:
market1customersnew.columns

Index(['Customer ID', 'Last Used Platform', 'Is Blocked', 'Created At',
       'Language', 'Outstanding Amount', 'Loyalty Points',
       'Number of employees'],
      dtype='object')

In [55]:
customers = pd.merge(market1customersnew,market2customersnew,on='Customer ID')
customers.to_csv("mergedcustomers.csv")

Empty DataFrame
Columns: [Customer ID, Last Used Platform, Is Blocked, Created At, Language, Outstanding Amount, Loyalty Points, Number of employees, Number of Employees]
Index: []

In [54]:
mergedcustomers = pd.read_csv(r'mergedcustomers.csv')
mergedcustomers

Empty DataFrame
Columns: [Unnamed: 0, Customer ID, Last Used Platform, Is Blocked, Created At, Language, Outstanding Amount, Loyalty Points, Number of employees, Number of Employees]
Index: []

In [13]:
print(market1deliveries.columns)

print(market2deliveries.columns)

Index(['Task_ID', 'Order_ID', 'Relationship', 'Team_Name', 'Task_Type',
       'Notes', 'Agent_ID', 'Agent_Name', 'Distance(m)',
       'Total_Time_Taken(min)', 'Task_Status', 'Ref_Images', 'Rating',
       'Review', 'Latitude', 'Longitude', 'Tags', 'Promo_Applied',
       'Custom_Template_ID', 'Task_Details_QTY', 'Task_Details_AMOUNT',
       'Special_Instructions', 'Tip', 'Delivery_Charges', 'Discount',
       'Subtotal', 'Payment_Type', 'Task_Category', 'Earning', 'Pricing',
       'Unnamed: 30', 'Unnamed: 31'],
      dtype='object')
Index(['Task_ID', 'Order_ID', 'Relationship', 'Team_Name', 'Task_Type',
       'Notes', 'Agent_ID', 'Distance(m)', 'Total_Time_Taken(min)',
       'Task_Status', 'Ref_Images', 'Rating', 'Review', 'Latitude',
       'Longitude', 'Tags', 'Promo_Applied', 'Custom_Template_ID',
       'Task_Details_QTY', 'Task_Details_AMOUNT', 'Special_Instructions',
       'Tip', 'Delivery_Charges', 'Discount', 'Subtotal', 'Payment_Type',
       'Task_Category', 'Earning', 'Pricing'],
      dtype='object')

In [4]:
print(market1orders.columns)

print(market2orders.columns)

NameError: name 'market1orders' is not defined

In [ ]:
!pip install pyspark

In [34]:
import pyspark
from pyspark.sql import SparkSession

In [41]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

PySparkRuntimeError: [JAVA_GATEWAY_EXITED] Java gateway process exited before sending its port number.